{% extends 'admin/admin.html' %}

{% block title %}products{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
{% endblock %}

{% block content %}
    {% with title='Разыгранные коды' %}
        {% include 'components/label_of_page.html' %}
    {% endwith %}
    <table class="table table-hover" id="table_product">
        <thead>
        <tr>
            <th>Токен</th>
            <th>Название точки</th>
            <th>IP Адрес</th>
            <th>Дата создания</th>
            <th>Дата показа</th>
        </tr>
        </thead>
        <tbody>
        {% for row in azs_request %}
            <tr>
                <td>{{ row.token }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.ip }}</td>
                <td>{{ row.ts_create|datetime('%d.%m.%Y %H:%M:%S') }}</td>
                <td>{{ row.ts_usage|datetime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('#table_product').DataTable({
                language: {
                    url: "{{ url_for('static', filename='Russian.json') }}"
                }
            });
        });
    </script>
{% endblock %}