{% extends 'admin/admin.html' %}

{% block title %}products{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
{% endblock %}

{% block content %}
    {% with title='Активированных промо' %}
        {% include 'components/label_of_page.html' %}
    {% endwith %}
    <table class="table table-hover" id="table_product">
        <thead>
        <tr>
            <th>Точка</th>
            <th>Продукт</th>
            <th>Всего</th>
        </tr>
        </thead>
        <tbody>
        {% for row in statistic_products %}
            <tr>
                <td>{{ row.azs_name }}</td>
                <td>{{ row.product_name }}</td>
                <td>{{ row.count_products }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
