{% extends 'base.html' %}

{% block title %}
    Добавить
{% endblock %}

{% block content %}
    {% with title='Точка ' + outlet.name %}
        {% include 'components/label_of_page.html' %}
    {% endwith %}
    {% with crumbs=[
        {'url': url_for('promo.index'), 'title': 'Главная страница'},
        {'url': url_for('promo.index'), 'title': 'Промо'},
        {'url': '', 'title': 'Точка ' + outlet.name}
    ] %}
        {% include 'components/breadcrumbs.html' %}
    {% endwith %}
    {% include 'promo/chart/outlet_create_product.html' %}
    <div class="mb-2">
        <a href="{{ url_for('promo.outlet_delete', outlet_id=outlet.id ) }}" class="btn btn-outline-danger">Удалить {{ outlet.name }}</a>
    </div>
    {% include 'components/flash_messages.html' %}
    <form method="POST" action="{{ url_for('promo.outlet_edit', outlet_id=outlet.id) }}">
        {{ form.csrf_token }}
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-md-2">
                        {{ form.name.label(class_='form-label', for=form.name.name) }}
                    </div>
                    <div class="col-md-10">
                        {{ form.name(class_='form-control', value=outlet.name) }}
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-md-2">
                        {{ form.ip.label(class_='form-label', for=form.ip.name) }}
                    </div>
                    <div class="col-md-10">
                        {{ form.ip(class_='form-control', placeholder='192.168.1.1', value=outlet.ip) }}
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-md-2">
                        {{ form.lat.label(class_='form-label', for=form.lat.name) }}
                    </div>
                    <div class="col-md-10">
                        {{ form.lat(class_='form-control', value=outlet.lat) }}
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-md-2">
                        {{ form.lon.label(class_='form-label', for=form.lon.name) }}
                    </div>
                    <div class="col-md-10">
                        {{ form.lon(class_='form-control', value=outlet.lon) }}
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-2">
                    <div class="col-md-2">
                        {{ form.status.label(class_='form-label', for=form.status.name) }}
                    </div>
                    <div class="col-md-10">
                        <select name="{{ form.status.name }}" id="{{ form.status.name }}" class="form-control">
                            {% for opt in form.status.choices %}
                                <option value="{{ opt[0] }}"
                                        {% if opt[0] == outlet.status %}selected{% endif %}>{{ opt[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-outline-primary justify-content-end" value="Сохранить">
                </div>
            </div>
        </div>
    </form>
{% endblock %}