{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    {% with title=ads_group.title %}
        {% include 'components/label_of_page.html' %}
    {% endwith %}
    {% with crumbs=[{'url': url_for('manage.index'), 'title': 'Главная страница'},{'url': '', 'title': ads_group.title},] %}
        {% include 'components/breadcrumbs.html' %}
    {% endwith %}
    <div style="width: 100%; height: 300px; display: flex; flex:1; justify-content: flex-end">
        {% with width=800, height=150, title_display=true, title_text='' %}
            {% include 'manage/chart/group_ads_viewed_count_on_week.html' %}
        {% endwith %}
    </div>
    <div style="display: flex; justify-content: space-between">
        <div class="mb-2">
            <a href="{{ url_for('manage.ads_group_edit', group_id=ads_group.id) }}" class="btn btn-outline-primary">Редактировать</a>
            <a href="{{ url_for('manage.ads_group_delete', group_id=ads_group.id) }}" class="btn btn-outline-danger">Удалить</a>
        </div>
        <div>
            <a href="{{ url_for('manage.ads_new', group_id=ads_group.id) }}" class="btn btn-primary">
                Добавить рекламу
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Название</th>
        <th>Дата начала показа</th>
        <th>Дата окончания показа</th>
        <th>За 24 ч.</th>
        <th>За неделю</th>
        <th>Файл</th>
        <th></th>
        </thead>
        <tbody>
        {% for ads_item in ads_list %}
            <tr>
                <td>
                    <a href="{{ url_for('manage.ads_view', group_id=ads_group.id, ads_id=ads_item.id ) }}"
                       class="link-secondary">
                        {{ ads_item.title }}
                    </a>
                </td>
                <td>
                    {{ ads_item.time_start|datetime('%d.%m.%Y') }}
                </td>
                <td>
                    {{ ads_item.time_end|datetime('%d.%m.%Y') }}
                </td>
                <td>{{ ads_item.get_viewed_24h().count() }}</td>
                <td>{{ ads_item.get_viewed_7d().count() }}</td>
                <td>
                    {% set exists = file_is_exists(ads_item.get_path()) %}
                    {% if exists %}
                        <span class="text-success">Ок</span>
                    {% else %}
                        <span class="text-danger">Не найден</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('manage.ads_view', group_id=ads_group.id, ads_id=ads_item.id ) }}"
                       class="link-secondary">перейти</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}