{% extends 'base.html' %}

{% block title %}ads_group.title{% endblock %}

{% block css %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
{% endblock %}

{% block content %}
    {% with title=ads_group.title %}
        {% include 'components/label_of_page.html' %}
    {% endwith %}
    {% with crumbs=[
        {'url': url_for('head.index'), 'title': 'Главная страница'},
        {'url': url_for('manage.ads_groups'), 'title': 'Реклама'},
        {'url': '', 'title': ads_group.title},
    ] %}
        {% include 'components/breadcrumbs.html' %}
    {% endwith %}
    {% set char_id1 = utils.generate_string(10) %}
    {% with chart_index=char_id1 %}
        {% include 'components/chart/chart.html' %}
    {% endwith %}
    <div style="display: flex; justify-content: space-between">
        <div class="mb-2">
            <a href="{{ url_for('manage.ads_group_edit', group_id=ads_group.id) }}" class="btn btn-outline-primary">Редактировать</a>
            <a href="{{ url_for('manage.ads_group_delete', group_id=ads_group.id) }}" class="btn btn-outline-danger">Удалить</a>
        </div>
        <div>
            <a href="{{ url_for('manage.ads_new', group_id=ads_group.id) }}" class="btn btn-primary">
                Добавить рекламу
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Название</th>
        <th>Дата начала показа</th>
        <th>Дата окончания показа</th>
        <th>За 24 ч.</th>
        <th>За неделю</th>
        <th>Файл</th>
        </thead>
        <tbody>
        {% for ads_item in ads_list %}
            <tr>
                <td>
                    <a href="{{ url_for('manage.ads_view', group_id=ads_group.id, ads_id=ads_item.id ) }}"
                       class="link-secondary">
                        {{ ads_item.title }}
                    </a>
                </td>
                <td>
                    {{ ads_item.time_start|datetime('%d.%m.%Y') }}
                </td>
                <td>
                    {{ ads_item.time_end|datetime('%d.%m.%Y') }}
                </td>
                <td>{{ ads_item.get_viewed_24h().count() }}</td>
                <td>{{ ads_item.get_viewed_7d().count() }}</td>
                <td>
                    {% set exists = file_is_exists(ads_item.get_path()) %}
                    {% if exists %}
                        <span class="text-success">Ок</span>
                    {% else %}
                        <span class="text-danger">Не найден</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            setSelectContentChart_{{ char_id1 }}({
                period: {
                    title: "Показы роликов",
                    url: "{{ url_for('data.advertise_clip_views', group_id=ads_group.id) }}"
                }
            });
            renderChart_{{ char_id1 }}()
        })

    </script>
{% endblock %}