<div class="mb-5 row justify-content-end">
    <div class="col-md-9" style="display: none" id="chart_filter_block_{{ chart_index }}">
        <div class="row d-flex justify-content-end">
            <div class="col-md-4 row d-flex justify-content-end align-items-center">
                <div class="col-md-3">
                    <label for="chart_content_{{ chart_index }}">График</label>
                </div>
                <div class="col">
                    <select class="form-select" name="chart_content" id="chart_content_{{ chart_index }}">
                    </select>
                </div>
            </div>
            <div class="col-md-7 row d-flex justify-content-end align-items-center">
                <div class="col-md-2">
                    <label for="chart_period_d1_{{ chart_index }}">Период</label>
                </div>
                <div class="col-md-4">
                    <input type="date" class="form-control" id="chart_period_d1_{{ chart_index }}">
                </div>
                <div style="width: 10px">
                    <span>-</span>
                </div>
                <div class="col-md-4">
                    <input type="date" class="form-control" id="chart_period_d2_{{ chart_index }}">
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" id="get_data_chart_{{ chart_index }}">Применить</button>
            </div>
        </div>
    </div>
    <div class="col-md-1" style="margin-left: 60px">
        <a class="btn btn-outline-primary" id="chart_filter_toggle_{{ chart_index }}">Фильтр</a>
    </div>
    <div class="d-flex justify-content-center">
        <div id="chart_container_{{ chart_index }}" style="width: 100%">
            <canvas id="chart_{{ chart_index }}" width="800" height="200"></canvas>
        </div>
    </div>

    <script>
        const chartColors_{{ chart_index }} = [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
        ]

        let data_{{ chart_index }} = {
            labels: [1, 1, 2, 3, 4, 5],
            datasets: [
                {
                    data: [1, 2, 3, 4, 5, 6],
                    label: "1",
                    borderColor: chartColors_{{ chart_index }}[1],
                    fill: false
                }
            ]
        }

        let chartPanel_{{ chart_index }} = null; // new Chart(document.getElementById("chart_{{ chart_index }}"), {});

        function chartColoring_{{ chart_index }}(index) {
            return chartColors_{{ chart_index }}[index]
        }

        function createChart_{{ chart_index }}({type = null, options = null, data = null, text = null}) {
            const container = document.querySelector('#chart_container_{{ chart_index }}');
            container.style.width = '100%';
            switch (type) {
                case 'pie':
                    container.style.width = '400px';
                    break;
                case 'stackedBar':
                    type = 'bar';
                    options = {
                        scales: {
                            x: {
                                stacked: true,
                            },
                            y: {
                                stacked: true
                            }
                        }
                    }
                    break;
                default:

            }
            chartPanel_{{ chart_index }} && chartPanel_{{ chart_index }}.destroy();
            data.datasets = data.datasets.map(val => {
                const color = typeof val.index === "number"
                    ? chartColoring_{{ chart_index }}(val.index)
                    : val.index.map(val => {
                        return chartColoring_{{ chart_index }}(val)
                    })

                let res = {
                    ...val,
                    borderColor: chartColoring_{{ chart_index }}(val.index),
                    backgroundColor: color,
                    borderWidth: 1,
                    minBarLength: 2,
                    fill: false
                }
                return res;
            })
            chartPanel_{{ chart_index }} = new Chart(document.getElementById("chart_{{ chart_index }}"), {
                type: type || 'line',
                data: data || {
                    labels: data.labels,
                    datasets: data.datasets
                },
                options: {
                    plugins: {
                        title: {
                            display: !!text,
                            text: text
                        }
                    },
                    ...options
                }
            });
        }

        function addData_{{ chart_index }}(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }

        function removeData_{{ chart_index }}(chart) {
            chart.data.labels.pop();
            chart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            chart.update();
        }

        let charts_variable_{{ chart_index }};

        function setSelectContentChart_{{ chart_index }}(datas) {
            charts_variable_{{ chart_index }} = datas;
            const content = document.querySelector('#chart_content_{{ chart_index }}');
            content.innerHTML = '';
            for (data in datas) {
                const option = document.createElement('option');
                option.value = data
                option.innerText = datas[data].title
                content.appendChild(option)
            }
        }

        function chartFilters_{{ chart_index }}() {
            const content = document.querySelector('#chart_content_{{ chart_index }}').value;
            const date1 = document.querySelector('#chart_period_d1_{{ chart_index }}').value;
            const date2 = document.querySelector('#chart_period_d2_{{ chart_index }}').value;

            return {
                content: content,
                date1: date1,
                date2: date2
            }
        }

        function genParamsFromFilters_{{ chart_index }}(filters) {
            let params = [];
            Object.keys(filters).map(key => {
                params.push(`${key}=${filters[key]}`)
            })
            return params.join('&')
        }

        document.querySelector('#chart_filter_toggle_{{ chart_index }}').addEventListener('click', function () {
            const filter_block = document.querySelector('#chart_filter_block_{{ chart_index }}');
            filter_block.style.display = filter_block.style.display == 'block' ? 'none' : 'block';
        })

        async function renderChart_{{ chart_index }}() {
            const filters = chartFilters_{{ chart_index }}();
            const url = charts_variable_{{ chart_index }}[filters.content].url + `?${genParamsFromFilters_{{ chart_index }}(filters)}`;
            let response = await fetch(url);
            if (response.ok) {
                let json = await response.json();
                if (json.Result) {
                    const data = json.Data;
                    console.log(data);
                    createChart_{{ chart_index }}({
                        ...data,
                        text: charts_variable_{{ chart_index }}[filters.content].title
                    })
                }
            } else {
                console.log(response.status)
            }
        }

        document.querySelector('#get_data_chart_{{ chart_index }}').addEventListener('click', renderChart_{{ chart_index }})

        $(document).ready(function () {
            const date1 = document.querySelector('#chart_period_d1_{{ chart_index }}');
            const date2 = document.querySelector('#chart_period_d2_{{ chart_index }}');
            const dateNow = new Date();
            date2.value = dateNow.toISOString().substr(0, 10);
            date2.max = date2.value;
            let d1 = new Date();
            d1.setDate(dateNow.getDate() - 6);

            date1.value = d1.toISOString().substr(0, 10);
            date1.max = date2.value;
        })
    </script>
</div>