<div style="width: 100%; height: 300px; display: flex; flex:1; justify-content: flex-end">
    {% set label=[] %}
    {% for d in list(range(7))[::-1] %}
        <!--{{ label.append(date_now(-d)|datetime('%D')) }}-->
    {% endfor %}
    {% set datas=[] %}
    {% for group in group_list %}
        {% set data = [] %}
        {% for d in list(range(7))[::-1] %}
            <!--{{ data.append(group.get_count_shows_per_day(date_now(-d))) }}-->
        {% endfor %}
        <!--{{ datas.append({
            'data': data,
            'title': group.title,
            'index': loop.index})
         }}-->
    {% endfor %}
    {% with chart_name='chart-group', width=800, height=150, title_display=true, title_text='',
        label_x=label, datas=datas
    %}
        {% include 'components/chart/line.html' %}
    {% endwith %}
</div>