<canvas id="line-chart" width="{{ width }}" height="{{ height }}"></canvas>

<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script>
    const chartColors = [
        "rgba(255, 99, 132, 1)",
        "rgba(54, 162, 235, 1)",
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
    ]
    const labels = [{% for d in list(range(7))[::-1] %}"{{ utcnow(-d)|datetime('%D') }}", {% endfor %}]
    const datasets = [
        {% for ads_item in ads_list %}
        {
            data: [{% for d in list(range(7))[::-1] %} {{ ads_item.get_count_shows_per_day(utcnow(-d)).count() }}, {% endfor %}],
            label: "{{ ads_item.title }}",
            borderColor: chartColors[{{ loop.index }}],
            fill: false

        },
        {% endfor %}
    ]


    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            title: {
                display: false,
                text: ''
            }
        }
    });
</script>